layout {

    focus-ring {
        active-color   "#e46767"
        inactive-color "#291414"
        urgent-color   "#ce7979"
    }

    border {
        active-color   "#e46767"
        inactive-color "#291414"
        urgent-color   "#ce7979"
    }

    shadow {
        color "#29141470"
    }

    tab-indicator {
        active-color   "#e46767"
        inactive-color "#8d0c0c"
        urgent-color   "#ce7979"
    }

    insert-hint {
        color "#e4676780"
    }
}

recent-windows {
    highlight {
        active-color "#e46767"
        urgent-color "#ce7979"
    }
}
